body, html {
  margin: 0;
  padding: 0;
  font-family: "Blinker", sans-serif;
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh 3vw;
  font-size: 1.2em;
  border-bottom: 5px solid; /* Adjust the thickness of the border as needed */
  border-image: linear-gradient(to right, #00C1DD, #DDD6DE) 1;
}

.logo {
  height: 70px;
  width: 70px;
}

.navbar ul > a {
  color: #fff;
  text-decoration: none;
}

.navbar ul > a:hover {
  color: #00C1DD;
  text-decoration: none;
}

ul {
  width: 50%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.button_primary_header {
  background: linear-gradient(to right, #00C1DD, #564848);
  color: white; /* Assuming you want the text to be white */
  font-weight: 600;
  text-transform: uppercase;
  width: 200px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  border-radius: 50px; /* Fully rounded corners */
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 50px; /* Vertically center the text */
  font-size: 1em;
}

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-name {
  color: #fff;
  cursor: pointer;
}

.profile-name:hover {
  color: #00C1DD;
}

.dropdown {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 10px;
  z-index: 1000;
}

.dropdown::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.dropdown a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

.dropdown hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #ccc;
}
