.testimonials-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10vh 3vw;
  background-color: #000000;
}

.testimonials-container h2 {
  color:#ffffff;
  font-size: 2em;
}
.testimonials-container hr {
  margin-bottom: 5vh;
  margin-top: 5vh;
  border: none; /* Eliminamos cualquier estilo de borde predeterminado */
  border-top: 2px solid #00C1DD; 
  width: 130vw;
}

.testimonials-scroll {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.testimonial-p-box {
  background-color: #000000;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2vw 3vw;
}

.testimonial-p {
  color: #ffffff;
  width: 85%;
}

iframe {
  flex: 0 0 auto;
  border: none;
}

/* Media queries para hacerlo responsivo */
@media (max-width: 1024px) {
  iframe {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  iframe {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  iframe {
    width: 100%;
    height: auto;
  }
}
